.currency-pairs-table {
  width: 100%;
}

.currency-pairs-table .table-header {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  padding: 12px 16px;
  /* background-color: #2277cc; */
  border-radius: 4px;
  font-weight: 500;
  margin-bottom: 8px;
}

.currency-pairs-table .table-row {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  padding: 8px 16px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

.currency-pairs-table .table-row:last-child {
  border-bottom: none;
}

.currency-column {
  display: flex;
  align-items: center;
  color: var(--table-td-color);
}

.currency-column.header {
  color: var(--primary-text-color);
}
